@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,300;0,600;0,900;1,100;1,300;1,600;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Urbanist', sans-serif;
}

body {
  height: 100vh;
}

@media only screen and (max-width: 400px) {
  body {
    width: 100%;
  }
}

body .navbar {
  font-size: 25px;
}

@media only screen and (max-width: 1290px) {
  body .navbar {
    font-size: 20px;
  }
}

body .alert {
  z-index: 100;
}

body .description {
  height: 25px;
  overflow: hidden;
  -webkit-transition: height .3s ease-in .3s;
  transition: height .3s ease-in .3s;
}

body .descriptionhover {
  height: 80px;
}

body table {
  vertical-align: middle !important;
}

body table .table-dark {
  background-color: --bs-purple !important;
}

body table .table__productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body table .table__productos img {
  width: 4rem;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 6px;
  margin-right: 20px;
}

body table .table__cantidad input {
  width: 40px;
  border: none;
  outline: 0;
  font-size: 16px;
  font-weight: 700;
  margin-right: 30px;
  margin-bottom: 20px;
}

body .hide {
  display: none;
}

body .remove {
  display: none;
}

body .bg-light {
  background-color: #b394ce !important;
}

body .imgLogo {
  width: 35px;
  height: 35px;
}

body .bi-cart {
  font-size: 25px;
}

body #main .imgbg {
  background-image: url(/media/nosotrasbg.jpg);
  background-repeat: initial;
  width: 100%;
  height: 350px;
}

@media only screen and (max-width: 400px) {
  body #main .imgbg {
    background-size: cover;
    height: 120px;
  }
}

body .separador {
  border: 3px solid #b394ce;
}

body .indexBtn {
  width: 100%;
}

@media only screen and (max-width: 400px) {
  body .indexBtn {
    width: 60%;
    margin: auto;
  }
}

@media only screen and (max-width: 1290px) {
  body .indexBtn {
    height: 250px;
  }
}

body .indexBtn .btnEpisodios {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

@media only screen and (max-width: 1290px) {
  body .indexBtn .btnEpisodios {
    display: block;
  }
}

body .indexBtn .btnEpisodios a {
  width: 60%;
}

@media only screen and (max-width: 400px) {
  body .indexBtn .btnEpisodios a {
    width: 100%;
  }
}

body .indexBtn .btnEpisodios a button {
  font-size: 30px;
}

@media only screen and (max-width: 400px) {
  body .indexBtn .btnEpisodios a button {
    font-size: 10px;
  }
}

@media only screen and (max-width: 1290px) {
  body .indexBtn .btnEpisodios a button {
    font-size: 20px;
  }
}

body #accordionExample {
  color: #723ba1 !important;
}

body #accordionExample .accordion-button {
  background-color: #9164ab !important;
  color: white;
}

body #accordionExample .redesAcordeon ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

body #accordionExample .redesAcordeon ul li {
  margin: 10px 20px 5px 20px;
}

body #accordionExample .redesAcordeon a {
  color: black;
}

body #accordionExample .redesAcordeon a .bi {
  font-size: 30px;
}

body #footer {
  width: 100%;
  margin-top: 14px;
  background: #fac93d;
  text-align: center;
}

@media only screen and (min-width: 1290px) {
  body #footer {
    font-size: 15px;
    position: unset;
  }
}

@media only screen and (max-width: 400px) {
  body #footer {
    position: unset;
  }
}

body #footer footer {
  margin-top: 10px;
  width: 100%;
}

body #footer footer h3 {
  font-size: 18px;
}

@media only screen and (max-width: 1290px) {
  body #footer footer h3 {
    font-size: 14px;
  }
}

body #footer footer a {
  font-weight: bolder;
  text-decoration: none;
  color: black;
}

body #footer footer .bi {
  font-size: 25px;
}

@media only screen and (max-width: 1290px) {
  body #footer footer .bi {
    font-size: 18px;
  }
}

body #footer footer .sectionRedes {
  margin: 15px;
}

@media only screen and (max-width: 1290px) {
  body #footer footer .sectionRedes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    margin: 5px;
  }
  body #footer footer .sectionRedes h3 {
    margin-top: 10px;
  }
}

body #footer footer .sectionRedes a {
  padding: 5px;
}

body #footer footer .footerHelp {
  background-color: #fac93d;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
  margin-bottom: 1%;
  padding: 0 20px;
}

@media only screen and (max-width: 1290px) {
  body #footer footer .footerHelp {
    margin-bottom: 2px;
  }
}

body .card {
  background-color: #b394ce !important;
}

body #episodios .btnEp {
  position: absolute;
  bottom: 0;
}

body #episodios .btnEp .botonEp {
  left: 80px;
  position: relative;
  top: -5px;
  vertical-align: bottom;
}

body #contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 400px) {
  body #contacto {
    display: block;
  }
}

body #contacto .imgNos {
  text-align: center;
  margin: auto;
}

body #contacto .imgNos img {
  width: 70%;
}

body #formContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
}

@media only screen and (max-width: 400px) {
  body #formContacto {
    margin: auto;
  }
}

body #formContacto input {
  margin-bottom: 3%;
}

body #formContacto #btnEnviarForm {
  margin: 5% 0% 0% 40%;
}

body #merch .btnEp {
  position: absolute;
}

body #merch .btnEp button {
  left: 250px;
  position: relative;
  top: -40px;
  vertical-align: bottom;
}
/*# sourceMappingURL=estilos.css.map */